[project]
name = "python-ui"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "black>=25.12.0",
    "flake8>=7.3.0",
    "pyside6>=6.10.1",
]
